<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>
  <img class="product-list-img" src="{{product.img}}" >
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
  <a  type="button" href="https://telegram.me/share/url?url=&text={{product.link}}"><button>Share on Telegram</button></a>
  <button  (click)="removeProduct(product.id)">remove</button>
  <button  (click)="likedProducts(product)">like {{product.Likes}}</button>


  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

</div>
