h2{
    font-size: 27px;
    /* line-height: 1px; */
    /* width: auto; */
    font-family:Arial;
    font-weight: 100;
    margin-left: 30px;
    margin-top: -20px;

}
.Ast{
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}
body{
    background-color:#F0F2F5;
    
}
.left-oko{
    margin-top: 168px;
    margin-left: 233px;
    height: 500px;
}
.right-oko{
    margin-top:-536px;
    margin-left:830px;  
    background-color: white;
    height: 350px;
    width: 380px;
    /* border-color:gray; */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    box-sizing: border-box;
}
.inputtext_55r1_6luy{
    border-radius: 7px;
    font-size: 17px;
    width: 350px;
    border: 1px solid #dddfe2;
    height: 45px;
    line-height: 16px;
    color: gray;
    margin-left: 12px;
    margin-top: 20px;
    /* border-bottom-color: #1877f2; */
}
.inputtext_55r1_6luy_passwrd{
    /* border-bottom-color: #1877f2; */
    border-radius: 7px;
    font-size: 17px;
    width: 350px;
    border: 1px solid #dddfe2;
    height: 45px;
    line-height: 45px;
    margin-left: 12px;
    margin-top: 15px;

}
.vhod{
    background-color: #1877f2;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    line-height: 45px;
    padding: 5 16px;
    width: 350px;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: bold;
    color:white;
}
.vhod:hover{
    background-color: rgba(21, 150, 250);
}
.voss{
    margin-top: 18px;
    font-size:medium;
    text-align: center;
    
}
.dec{
    text-decoration: none;
}
._8icz{
    color: rgb(220, 220, 220);
    direction: ltr;
    line-height: 1.34;
    margin-left: 12px;
    margin-top: 10px;
}
._6ltg{
    background-color: #42b72a;
    padding-top: 1px;
    width: 235px;
    margin-left: 70px;
    height:45px;
    border-radius: 7px;
    text-align: center;
    padding: 0 7px;
    margin-top: 17px;
    border-radius:7px;
    
}
._6ltg:hover{
    background-color: rgb(21, 165,21);
}
.novakk{
    color:#F0F2F5;
    font-weight:bold;
    border: none;
    font-size: 17px;
    line-height: 48px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.znam{
    margin-top: 0px;
    margin-left:830px;  
    /* background-color: white; */
    height: 150px;
    width: 390px;
    /* border-color:gray; */
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
    /* border-radius: 6px; */
    /* box-sizing: border-box; */
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    text-align: center;
}
.sozd{
    
    margin-top: 35px;
}
.dec1{
    text-decoration: none;
    color:#1c1e21;
    font-weight: bold;

}
.x{
    width: 1521px;
    height: 200px;
    background-color: white;
    margin-left:-10px;
}
.Footer{
    width: 980px;
    height: 60px;
    /* background-color: #1877f2; */
    margin:auto;
    
}
.localeSelectorList {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}
/* .FooterText{
    text-decoration: none;
    font-size: small;
    color: #737373;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
._sv4{
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    line-height: 16.08px;
    text-decoration: none;
    font-size: small;
    color: #737373;
}
._sv41{
    /* background-color: #1877f2; */
    width : 70px;
    height: 50px;
    margin-left: 0;
    text-align: left;
}
._8icz1{
    color: rgb(220, 220, 220);
    direction: ltr;
    line-height: 1.34;
    margin-left: 12px;
    margin-top: -26px;
}
._sv42{
    /* background-color: #1877f2; */
    width : 180px;
    height:  15px;
    margin-left: auto;
    text-align: left;
}
a{
    cursor:pointer;
}
.Footer1{
    width: 980px;
    height: 156px;
    padding-top: 0px;
    margin:auto;
    /* background-color: #42b72a; */
}